body {
  margin: 0 auto;
  max-width: 700px;
  min-width: 0;
  padding: 0 10px 25px;
  font-family: "Gill Sans", "Arial", sans-serif;
  color: #444;
}

h2 {
  font-size: 23px;
}

h1, h2, strong {
  color: #222;
}

header {
  margin-top: 8px;
  font-size: 23px;
}
h1 {
  font-size: 26px;
}

.creation {
  border-top: 2px solid gray;
}

.content-grid {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(3, 1fr);
}

.label {
  margin-right: 6px;
  font-weight: 600;
  color: gray;
}

ul {
  padding-inline-start: 0%;
}

li {
  list-style: none;
  margin: 4px;
}

@media screen and (max-width: 430px) {
  header, h1 {
    text-align: center;
    justify-self: center;
  }
  .content-grid {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: auto;
  }
}
